<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Index Usuario?</title>
</head>

<body>
	
	
	<div>
		<form th:action="@{/crearSugerencia}" method="POST"> 
					<button id="crearSugerenciaButton" name="crearSugerenciaButton" type="submit">Nueva sugerencia</button>
		</form>	
	</div>
	
	<div th:id="mostrarTodas">
			<table>
				<tr>
					<th>Contenido</th>
					<th></th>
					<th>Usuario</th>
					<th></th>
				</tr>
				<tr th:each="sug : ${sugerencias}">	
			                  <td th:text="${sug.contenido}"></td>
			                  <td></td>
			                  <td th:text="${sug.usuario.usuario}"/> 
		       				  <td></td>
		       				  <td>
		       				  <form th:action="@{/mostrar(sugerencia=${sug.id})}" method="POST">
		       				  	<button id="mostrarSugerencia" type="submit" name="mostrarSugerencia" th:value="${sug.contenido}">
		       				  	Mostrar
		       				  	</button>
		       				 
		       				  </form>
		       				  
		       				  </td> 
				</tr>
			</table>
			
			<div>
		<form th:action="@{/logout}" method="POST"> 
					<button id="logout" type="submit" name="logout">Cerrar sesion</button>
		</form>
	</div>
</div>
</body>
</html>