<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.0/css/bulma.min.css"
          integrity="sha256-8nf+BDtOgthqqdcfZXfDwth8LL6k314ILswPBDzXMp4=" crossorigin="anonymous"/>
    <link rel="stylesheet" href="http://aswfiles.hol.es/style.css"/>
</head>
<body>
<section class="section is">
    <div class="container">
        <div class="heading">
            <h1 class="title">Dashboard</h1>
            <!--/*@thymesVar id="user" type="uo.asw.dbmanagement.model.User"*/-->
            <section th:if="${session.user.viewSuggestions} == true" id="suggestionsSection" class="hero">
                <div class="hero-body">
                    <div class="container">
                        <h2 class="title">
                            Sugerencias
                        </h2>
                        <h3 class="subtitle">
                            Las sugerencias mas recientes
                        </h3>

                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <table class="table is-striped" id="suggestionTable">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Codigo</th>
                                <th>Titulo</th>
                                <th>Sugerida por</th>
                                <th>Votos positivos</th>
                                <th>Votos negativos</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!--/*@thymesVar id="suggestions" type="java.util.List<uo.asw.dbmanagement.model.Suggestion>"*/-->
                            <tr th:each="suggestion: ${suggestions}" th:inline="text"
                                th:id="|suggestion${suggestion.id}|">
                                <td>[[${suggestion.id}]]</td>
                                <td>[[${suggestion.code}]]</td>
                                <td>
                                    <a th:href="@{'/dashboard/suggestion/' + ${suggestion.id}}">[[${suggestion.title}]]</a>
                                </td>
                                <td th:inline="text">[[${suggestion.citizen.name}]] [[${suggestion.citizen.surname}]]
                                </td>
                                <td class="positive-vote">[[${suggestion.positiveVotes}]]</td>
                                <td class="negative-vote">[[${suggestion.negativeVotes}]]</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </section>
            <!--/*@thymesVar id="user" type="uo.asw.dbmanagement.model.User"*/-->
            <section th:if="${session.user.viewComments} == true" id="commentsSection" class="hero">
                <div class="hero-body">
                    <div class="container">
                        <h2 class="title">
                            Comentarios
                        </h2>
                        <h3 class="subtitle">
                            Los comentarios mas recientes
                        </h3>

                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <table class="table is-striped" id="commentTable">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Codigo</th>
                                <th>Contenido</th>
                                <th>Ciudadano</th>
                                <th>Votos positivos</th>
                                <th>Votos negativos</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="comment: ${comments}" th:inline="text" th:id="|comment${comment.id}|">
                                <td>[[${comment.id}]]</td>
                                <td>[[${comment.code}]]</td>
                                <td><a th:href="@{'/dashboard/comment/' + ${comment.id}}">[[${comment.description}]]</a>
                                </td>
                                <td th:inline="text">[[${comment.citizen.name}]] [[${comment.citizen.surname}]]</td>
                                <td class="positive-vote">[[${comment.positiveVotes}]]</td>
                                <td class="negative-vote">[[${comment.negativeVotes}]]</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>


<!--SCIPTS-->

<script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
<script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"
        integrity="sha256-GcknncGKzlKm69d+sp+k3A2NyQE+jnu43aBl6rrDN2I=" crossorigin="anonymous"></script>
<script src="http://aswfiles.hol.es/loadUpdates.js"></script>
</body>
</html>
