<!DOCTYPE html>
<html>
<head> 
	<title>Log in</title>
</head>
<body>
  <form id="login_form" action="acceso" method="post">

 	<h1>Sistema de participacion ciudadana</h1>
 	<h2>Inicio de sesion</h2>
 	<hr/><br/>
 	<table>
    	<tr> 
    		<td align="right">Usuario: </td>
	    	<td><input id="userInput" type="text" name="user" size="15" required = "required" placeholder="Login"/></td>
      	</tr>
      	<tr>
    	    <td align="right">Contrasena: </td>
      		<td><input id="passwdInput" type="password" name="password"  size="15" required="required"
					   placeholder="Password"/></td>
      	</tr>
      	<tr>
    	    <td><input id="btnEnviar" type="submit" value="Enviar"/></td>
    	    <td><input id="btnReset" type="reset" value="Reset"/></td>
      	</tr>
      </table>
   </form>
</body>
</html>
