<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Mostrar Sugerencia</title>
</head>
<body>
	<div>
		<form th:action="@{/listSuggestionAdmin}" method="POST"> 
					<button id="list" type="submit" name="list">Lista de sugerencias</button>
		</form>
	</div>

	<h1>Sugerencia seleccionada</h1>
	<div>
		<table border="1">
			<tr>
				<th>Texto</th>
				<th></th>
				<th>Usuario</th>
			</tr>
			<tr>	
		        <td th:text="${selected.texto}"/>
		        <td/>
		        <td th:text="${selected.user.user}"/>
			</tr>
		</table>
	</div>
	
	<div th:id="comments">
		<h2>Comentarios</h2>
			<table border="1">
				<tr>
					<th>Texto</th>
					<th></th>
					<th>Usuario</th>
				</tr>
				<tr th:each="c : ${selected.comments}">	
			                  <td th:text="${c.texto}"></td>
			                  <td></td>
		       				  <td th:text="${c.user.user}"></td>
		       				  <td></td>
		       				  <td>
		       				  <form th:action="@{/deleteComment(comment=${c.id})}" method="POST">
		       				  	<button id="show" type="submit" name="show" th:value="${c.texto}">
		       				  	Eliminar
		       				  	</button>
		       				 
		       				  </form>
		       				  </td> 
				</tr>
			</table>
</div>
</body>
</html>